circle {
  /* fill:red;
  stroke:blue;
  fill-opacity: 0.5;
  stroke-opacity: 0.1;
  transform: rotate(45deg) scale(0.4) translate(155px, 1px); */
  r:5;
  fill: black;
}

svg {
  border: 1px solid black;
}