svg {
  border: 1px solid black;
}
rect {
  stroke: white;
  stroke-width: 1px;
}

svg {
  overflow: visible;
  margin-left: 20px;
}

#bottom-axis text {
  transform: rotate(45deg);
  text-anchor: start;
}
