circle {
  /* fill:red;
  stroke:blue;
  fill-opacity: 0.5;
  stroke-opacity: 0.1;
  transform: rotate(45deg) scale(0.4) translate(155px, 1px); */
  r: 5;
  fill: black;
}

svg {
  /* border: 1px solid black; */
  overflow: visible;
  margin-bottom: 50px;
}

body {
  margin: 20px 40px;
}

table,
th,
td {
  border: 1px solid black;
  border-spacing: 0;
}
th,
td {
  padding: 10px;
  text-align: center;
}
